<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>items</key>
    <array>
        <dict>
            <key>assets</key>
            <array>
                <dict>
                    <key>kind</key>
                    <string>software-package</string>
                    <key>url</key>
                    <string>http://smoneybag.oss-cn-shenzhen.aliyuncs.com/iOS/loan_resigned_1.0.5.ipa?Expires=1536830252&OSSAccessKeyId=TMP.AQGqBt76wmEKKSUcYqxkV44kyMQ52_sO1Hntj1KmwxZ-3rTX9p8BcrJ-xbsfMC4CFQCtoCYJ5WjZ3szpY1jVYkylZ84QBgIVAL9eVi25w7PM893mFMOa8rxmljAU&Signature=mvKHiqIOekokzPHbolp8EffikWw%3D</string>
                </dict>
            </array>
            <key>metadata</key>
            <dict>
                <key>bundle-identifier</key>
                <string>com.littlewalletCashLoansPro</string>
                <key>bundle-version</key>
                <string>1.1.02</string>
                <key>kind</key>
                <string>software</string>
                <key>title</key>
                <string>wmloan</string>
            </dict>
        </dict>
    </array>
</dict>
</plist>
